
@if (RenderLink)
{
	<a @onclick="@OnClick"
		href="@Href"
		title="@Title"
		class="@Class"
		style="@Style"
		disabled="@Disabled"
	>
		@ChildContent
	</a>
}
else
{
	<button @onclick="OnClick"
			type="button"
			title="@Title"
			class="@Class"
			style="@Style"
			disabled="@Disabled"
	>
		@ChildContent
	</button>
}