@page "/@{author}/{slug}"
@page "/{publication}/{slug}"
@using System.Text.Json
@using ThoughtHub.Api.Models.Blocks
@using ThoughtHub.Api.Models.Content
@using ThoughtHub.UI.BlazorWasm.Components.Blocks
@using ThoughtHub.UI.BlazorWasm.Components.Framework
@using ThoughtHub.UI.BlazorWasm.Components.Layout
@using ThoughtHub.UI.BlazorWasm.Services
@layout MainLayout
@inject IArticleService ArticleService

@* TODO: Remove these styles *@
<div style="display: flex; justify-content: center;">
    <div style="max-width: 680px; margin: 0px 24px;" class="container mt-3">
        @if (_isLoading)
        {
            <ArticleSkeleton />
        }
        else if (_notFound)
        {
            <ArticleNotFound />
        }
        else
        {
            @if (Article is not null)
            {
                <article class="post">

                    <header class="post-header">

                        <h1 class="post-title">
                            @Article.Title
                        </h1>

                        <div class="post-byline">

                            <div class="post-author">
                                <a class="post-author__avatar-link" href="#">
                                    <img class="post-author__avatar"
                                         src="@Article.Author.ProfilePic"
                                         alt="@Article.Author.FullName" />
                                </a>

                                <div class="post-author__meta">
                                    <a class="post-author__name" href="#">
                                        @Article.Author.FullName
                                    </a>
                                </div>

                                <button class="post-author__follow">
                                    Follow
                                </button>
                            </div>

                            <div class="post-meta">
                                <span class="post-meta__read-time">6 min read</span>
                                <span class="post-meta__separator">·</span>
                                <span class="post-meta__date">@Article.UpdatedAt.ToShortDateString()</span>
                            </div>

                        </div>

                        <div class="post-actions">

                            <button class="post-action post-action--clap">
                                <HubIcon Name="IconName.Clap" /> <span class="post-action__count">251</span>
                            </button>

                            <button class="post-action post-action--responses">
                                <HubIcon Name="IconName.Comment" /> <span class="post-action__count">4</span>
                            </button>

                            <button class="post-action post-action--bookmark">
                                <HubIcon Name="IconName.AddToList" />
                            </button>

                            @* TODO: Add custom icon *@
                            <button class="post-action post-action--listen">
                                ▶ Listen
                            </button>

                            <button class="post-action post-action--share">
                                Share
                            </button>

                            <button class="post-action post-action--more">
                                More
                            </button>

                        </div>

                    </header>

                    <section class="post-body">
                        @foreach (var block in Article.BlockModels)
                        {
                            <div class="block">
                                <div class="container">
                                    <DynamicComponent Type="@GetBlockComponentType(block)" Parameters="@(new Dictionary<string, object>{{"Block", block}})"/>
                                </div>
                            </div>
                        }
                    </section>

                </article>

            }
        }
    </div>
</div>

@code
{
    [Parameter]
    public string? author { get; set; }

    [Parameter]
    public string? publication { get; set; }

    [Parameter]
    public string? slug { get; set; } = string.Empty;

    public ArticleModel? Article { get; set; }

    private bool _isLoading = true;
    private bool _notFound = false;

    protected override async Task OnParametersSetAsync()
    {
        if (author is null && publication is null)
        {
            return;
        }

        try
        {
            if (author is not null)
            {
                Article = await ArticleService.GetIndependentArticleAsync(author, slug);
            }
            else
            {
                Article = await ArticleService.GetPublicationArticleAsync(author, slug);
            }

            if (Article is null)
            {
                _notFound = true;
            }
        }
        catch
        {
            _notFound = true;
        }

        _isLoading = false;
    }

    private static readonly Dictionary<Type, Type> BlockMap = new()
    {
        { typeof(TextBlockModel), typeof(TextBlock) }
    };

    private Type GetBlockComponentType(BlockModel block)
    {
        return BlockMap.TryGetValue(block.GetType(), out var type) ? type : typeof(UnknownBlockType);
    }
}