@page "/new-story"
@using ThoughtHub.UI.BlazorWasm.Layout
@layout EditorLayout

<div class="editor-header">
    <div class="header-wrapper">
        <div class="header-content d-flex justify-content-around">
            <div class="header-left d-flex">
                <div class="website-title">
                    <a href="/" data-log-event="home">
                        <span>
                            <svg width="120" height="26">
                            </svg>
                        </span>
                        <span>Homepage</span>
                    </a>
                </div>
                <div>
                    <span>
                        Draft in Muhammad Altahan
                        <span>Saved</span>
                    </span>
                </div>
            </div>
            <div class="header-right d-flex">
                <div class="publish-button">
                    <button @onclick="Save">
                        <span>Publish</span>
                    </button>
                </div>
                <div>
                    <button>
                        <span>
                            <svg width="25" height="25">
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="notifications-profile">
                    <button title="Notifications" aria-label="Notifications">
                        <span>
                            <svg width="25" height="25">
                            </svg>
                        </span>
                    </button>
                    <button aria-haspopup="true">
                        <div>
                            <img src="" alt="">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="editor-content">
    <!-- Title -->
	<div class="section">
		<div class="card-body">
			<div class="form-group title">
				<dvi class="row">
					<div class="col">
						<input @bind="ArticleModel.Title" type="text" class="form-control form-control-lg" placeholder="Your article title" />
					</div>
				</dvi>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <div class="form-group mb-0">
                            <label style="display:none">Tags</label>
                            @* TODO: Display selected tags*@
                            <select id="selectedTags" class="form-control select2" multiple="multiple">
                                @* TODO: Add a loop*@
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>

    <!-- Blocks -->
    <div class="section">
        <div class="card-body">
            <div id="content-blocks" class="blocks">

                @* TODO: call BlockPicker.Open(), the callback is AddBlock, the index should be 0*@
                <a href="#" class="block-add unsortable" @onclick:preventDefault @onclick="() => OpenBlockPicker(0)">
                    <hr>
                    <i class="bi bi-plus-circle"></i>
                </a>

                @for (int index = 0; index < ArticleModel.Blocks.Count; index++)
                {
                    var block = ArticleModel.Blocks[index];

                    <div>
                        <div class="@GetBlockClasses(block)">
    @*                         <div :id="'tb-' + block.meta.uid" class="component-toolbar"></div>

        *@                  <div class="block-header">
                                <div class="title">
                                        <i class="@block.Icon"></i>
                                        @* TODO: Explain *@
                                        <strong>@block.Name</strong> <span @key="index"> @if (block.IsCollapsed) { <text>- @block.Title</text> }</span>
                                </div>

                                <div class="actions">
                                    @* Collapse the block Collapse(Block) *@
                                    <span class="btn btn-sm">
                                        @* TODO: Check if the block is collapsed*@
                                        @if (true)
                                        {
                                            <i class="bi bi-chevron-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-chevron-down"></i>
                                        }
                                    </span>
                                    <span class="btn btn-sm handle">
                                            <i class="bi bi-three-dots-vertical"></i>
                                    </span>

                                    @* TODO: Call RemoveBlock(Block reference) *@
                                    <button class="btn btn-sm danger block-remove" tabindex="-1">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>

                            </div>

                            @* Render the blocks *@
                            <DynamicComponent
                                Type="@GetComponentType(block.Component)"
                                Parameters="@(new Dictionary<string, object> { ["Model"] = block.Block })" />
                        </div>

                        @* TODO: call BlockPicker.Open(), the callback is AddBlock, the index should be 0*@
                        <a href="#" class="block-add" @onclick:preventDefault @onclick="() => OpenBlockPicker(index)">
                            <hr>
                            <i class="bi bi-plus-circle"></i>
                        </a>
                    </div>               
                }

                @if (ArticleModel.Blocks.Count == 0)
                {
                    <div class="empty-info">
                        <p>Click on the button above to add your first block of content</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>