@page "/new-story"
@using ThoughtHub.UI.BlazorWasm.Layout
@layout EditorLayout

<header class="topbar">
    <div class="topbar-inner">
        <div class="topbar-left">
            <a href="/" class="navbar-brand brand">
                ThoughtHub
            </a>
            <span class="draft-status">Draft in </span>
        </div>

        <div class="topbar-right">
            <button class="btn btn-primary btn-small" @onclick="Save">Publish</button>

            <button class="btn btn-icon">
                <i class="bi bi-three-dots"></i>
            </button>

            <button class="btn btn-icon" title="Notifications">
                <i class="bi bi-bell"></i>
            </button>

            <button class="btn btn-avatar">
                <img src=""
                     alt="">
            </button>
        </div>
    </div>
</header>

<div class="topbar-spacer"></div>

<div class="editor-content">
    <!-- Title -->
	<div class="section">
		<div class="card-body">
			<div class="form-group title">
				<dvi class="row">
					<div class="col">
						<input @bind="ArticleModel.Title" type="text" class="form-control form-control-lg" placeholder="Title" />
					</div>
				</dvi>
			</div>
		</div>
	</div>

    <!-- Blocks -->
    <div class="section">
        <div class="card-body">
            <div id="content-blocks" class="blocks">
                <a href="#" class="block-add unsortable" @onclick:preventDefault @onclick="() => OpenBlockPicker(0)">
                    <hr>
                    <i class="bi bi-plus-circle"></i>
                </a>

                @for (int index = 0; index < ArticleModel.Blocks.Count; index++)
                {
                    var block = ArticleModel.Blocks[index];

                    <div>
                        <div class="@GetBlockClasses(block)">
                            <div class="block-header">
                                <div class="title">
                                        <i class="@block.Icon"></i>
                                        @* TODO: Explain *@
                                        <strong>@block.Name</strong> <span @key="index"> @if (block.IsCollapsed) { <text>- @block.Title</text> }</span>
                                </div>

                                <div class="actions">
                                    <span class="btn btn-sm" @onclick="() => CollapseBlock(block)">
                                        @if (!block.IsCollapsed)
                                        {
                                            <i class="bi bi-chevron-up"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-chevron-down"></i>
                                        }
                                    </span>
                                    <span class="btn btn-sm handle">
                                            <i class="bi bi-three-dots-vertical"></i>
                                    </span>

                                    <button class="btn btn-sm danger block-remove" tabindex="-1" @onclick="() => RemoveBlock(block)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>

                            </div>

                            @* Render the blocks *@
                            <DynamicComponent
                                Type="@GetComponentType(block.Component)"
                                Parameters="@(new Dictionary<string, object>
                                {
                                    ["Uid"] = block.Uid,
                                    ["Model"] = block.Block,
                                    ["UpdateTitle"] = EventCallback.Factory.Create<(string, string)>(this, OnUpdateBlockTitle)
                                })" />
                        </div>

                        @* TODO: call BlockPicker.Open(), the callback is AddBlock, the index should be 0*@
                        <a href="#" class="block-add" @onclick:preventDefault @onclick="() => OpenBlockPicker(index)">
                            <hr>
                            <i class="bi bi-plus-circle"></i>
                        </a>
                    </div>               
                }

                @if (ArticleModel.Blocks.Count == 0)
                {
                    <div class="empty-info">
                        <p>Click on the button above to add your first block of content</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>