
<div class="article-byline">
	<div class="article-byline-content">

		@if (Publication is not null)
		{
			<div class="byline-avatar-wrapper">
				<div>
					<div class="byline-block-display" aria-describedby="85" aria-labelledby="85" role="tooltip">
						<div tabindex="-1" class="byline-no-outline">
							<a href="#" rel="noopener follow">
								<div class="byline-position-relative">
									<img alt="@Publication.Name" class="byline-avatar-image" width="20" height="20" loading="lazy" src="@Publication.PublicationImageUrl">
									<div class="byline-avatar-overlay"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="byline-label-wrapper">
				<p class="byline-meta-text">In</p>
			</div>

			<div class="byline-block-display">
				<div>
					<div class="byline-block-display" aria-describedby="86" aria-labelledby="86" role="tooltip">
						<div tabindex="-1" class="byline-no-outline">
							<a class="byline-link" href="#" rel="noopener follow">
								<p class="byline-name-text">@Publication.Name</p>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="byline-padding-around byline-block-display">
				<p class="byline-meta-text">by</p>
			</div>

			<div>
				<div class="byline-block-display" aria-describedby="87" aria-labelledby="87" role="tooltip">
					<div tabindex="-1" class="byline-no-outline">
						<a class="byline-link" rel="noopener follow" href="#" data-discover="true">
							<p class="byline-name-text">@Author.FullName</p>
						</a>
					</div>
				</div>
			</div>
		}
		else
		{
			<div class="byline-avatar-wrapper">
				<div class="byline-block-display">
					<div>
						<div class="byline-block-display" aria-describedby="74" aria-labelledby="74" role="tooltip">
							<div tabindex="-1" class="byline-no-outline">
								<a tabindex="-1" rel="noopener follow" href="#" data-discover="true">
									<div class="byline-block-display byline-position-relative">
										<img alt="@Author.FullName" class="byline-author-avatar-image" width="20" height="20" loading="lazy" src="@Author.ProfilePic">
										<div class="byline-avatar-ring"></div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div class="byline-block-display" aria-describedby="75" aria-labelledby="75" role="tooltip">
					<div tabindex="-1" class="byline-no-outline">
						<a class="byline-link" rel="noopener follow" href="#" data-discover="true">
							<p class="byline-name-text">@Author.FullName</p>
						</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@code
{
	[Parameter]
	public PublicationModel? Publication { get; set; }

	[Parameter]
	public AuthorModel Author { get; set; }
}