@using ThoughtHub.Api.Models.RecommendedPublishers
@using ThoughtHub.UI.BlazorWasm.Services
@inject IArticleService articleService

<div class="who-to-follow">
    <header class="who-to-follow__header">
        <h2 class="who-to-follow__title">Who to follow</h2>
    </header>

    @if (_connection is not null)
    {
        <ul class="who-to-follow__list">
            @foreach (var edge in _connection.Edges)
            {
                switch (edge.Node)
                {
                    case UserPublisherModel user:
                        <li class="who-to-follow__item">
                            <div class="who-to-follow__content">
                                <a class="who-to-follow__avatar-link" href="#">
                                    <img class="who-to-follow__avatar"
                                         src="@user.ProfilePictureUrl"
                                         alt="@user.Name" />
                                </a>

                                <div class="who-to-follow__meta">
                                    <a class="who-to-follow__name" href="#">
                                        @user.Name
                                    </a>
                                    <p class="who-to-follow__description">
                                        @user.Bio
                                    </p>
                                </div>
                            </div>

                            <button class="who-to-follow__action">
                                Follow
                            </button>
                        </li>
                        break;

                    case PublicationPublisherModel publication:
                        <li class="who-to-follow__item">
                            <div class="who-to-follow__content">
                                <a class="who-to-follow__avatar-link" href="#">
                                    <img class="who-to-follow__avatar"
                                         src="@publication.PublicationImageUrl"
                                         alt="@publication.Name" />
                                </a>

                                <div class="who-to-follow__meta">
                                    <a class="who-to-follow__name" href="#">
                                        @publication.Name
                                    </a>
                                    <p class="who-to-follow__type">
                                        Publication
                                    </p>
                                    <p class="who-to-follow__description">
                                        @publication.Description
                                    </p>
                                </div>
                            </div>

                            <button class="who-to-follow__action">
                                Follow
                            </button>
                        </li>
                        break;
                }
            }
        </ul>
    }

    <footer class="who-to-follow__footer">
        <a class="who-to-follow__more" href="#">
            See more suggestions
        </a>
    </footer>
</div>


@code {
    private RecommendedPublisherConnectionModel? _connection = null;

    protected override async Task OnInitializedAsync()
    {
        _connection = await articleService.GetWhoToFollowConnectionAsync();
    }
}