<div class="meta">
    @if (DisplayPublication)
    {
        <div class="meta-icon">
            <a href="@PublicationUrl">
                <div class="icon-wrap">
                    <img src="@PublicationImageUrl"
                         alt="@PublicationName"
                         class="icon">
                    <div class="icon-outline"></div>
                </div>
            </a>
        </div>

        <p class="meta-label">In</p>

        <div class="meta-publication">
            <a href="@PublicationUrl" class="meta-link">
                <p class="meta-text">@PublicationName</p>
            </a>
        </div>

        <p class="meta-label">by</p>

        <div class="meta-author">
            <a href="@AuthorUrl" class="meta-link">
                <p class="meta-text">@AuthorName</p>
            </a>
        </div>
    }
    else
    {
        <div class="meta-icon">
            <a href="@AuthorUrl">
                <div class="icon-wrap">
                    <img src="@AuthorImageUrl"
                            alt="@AuthorName"
                            class="avatar"
                            width="20"
                            height="20"
                            loading="lazy">
                    <div class="avatar-outline"></div>
                </div>
            </a>
        </div>

        <a href="@AuthorUrl" class="meta-link">
            <p class="meta-text">@AuthorName</p>
        </a>
    }
</div>

@code {
    [Parameter]
    public bool DisplayPublication { get; set; }

    [Parameter]
    public string PublicationName { get; set; }

    [Parameter]
    public string PublicationUrl { get; set; }

    [Parameter]
    public string AuthorName { get; set; }

    [Parameter]
    public string AuthorUrl { get; set; }

    [Parameter]
    public string AuthorImageUrl { get; set; }

    [Parameter]
    public string PublicationImageUrl { get; set; }
}